.items{
    display: flex;
    overflow-x: scroll;
    margin-top: 15px;
    z-index: -1;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}
.items::-webkit-scrollbar{
   display: block;
   overflow-x: hidden;
   
  
}
.items::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 15px;
  width: 5px;
  height: 2px;

}
    .items img{
        width: 150px;
        height: 150px;
        padding: 10px;
        border-radius: 5px;
    }

   